    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="index.html">LOGO</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto col-md-10">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto col-md-2" id="navLogout">
          <li class="nav-item">
            <a class="nav-link" href="login.html">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="register.html">Register</a>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto col-md-2" id="navLogin">
          <li class="nav-item">
            <a class="nav-link" href="listusers.html">User List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>